<div class="menu">
  <div class="menu__item">psd websites</div>
  <div class="menu__item">ui kits</div>
  <div class="menu__item">premium psd files</div>
  <div class="menu__item">about</div>
  <div class="menu__item">blog</div>
</div>
